@import './normalize';
@import './skeleton';

$black: #000;
$darkgray: #555;
$gray: #999;
$lightgray: #ebebeb;
$white: #FFF;

$square-size: 1rem;
$grid-size: 40;

body {
  background: url("../images/snake-texture.png");
}

header {
  padding: 1rem;
  background-color: $lightgray;
  margin-bottom: 2rem;
  text-align: center;
  white-space: nowrap;

  #logo-text {
    a {
      display: block;
      padding-top: .8rem;
      text-decoration: none;
      color: inherit;

      .logo {
        width: 4.3rem;
        vertical-align: baseline;
      }
    }
  }

  nav {
    margin: 2rem 0;
    text-align: center;
    white-space: normal;

    a {
      display: inline-block;
      margin: .25rem .5rem;
      padding: 1rem 2rem;
      border-radius: 4px;
      border: solid $white 1px;
      color: $darkgray;
      text-decoration: none;

      &:hover, &.active {
        background-color: $white;
      }
    }
  }
}

main.container {
  padding: 2.5rem 0 10rem 0;
}

#game {
  * {
    box-sizing: border-box;
  }

  #player-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;

    ul {
      width: 100%;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        max-width: $grid-size * $square-size;
        text-align: center;
        display: block;
        padding: .5rem;
        margin: 1px auto;
        background-color: $black;
        color: $lightgray;

        &.label {
          background-color: transparent;
          color: $darkgray;
        }
      }
    }
  }

  #loop {
    text-align: center;
  }

  #board-container {
    padding: 2rem 0 5rem 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 0;

    #board {
      width: $square-size * $grid-size;
      margin: 0 auto;

      .square {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: $square-size;
        height: $square-size;
        background-color: $lightgray;
        border: solid white 1px;

        &.alive {
          background-color: $black;
        }

        &.dead {
          background-color: $lightgray; // same as board, hidden
        }
      }
    }
  }

  // Generate colors for other players
  $s: 40;
  $l: 45;

  @for $i from 1 through 25 {
    $hue: (($i * 85) + 50) % 360;
    $color: hsl($hue, $s, $l);

    #player-list ul li.id-#{$i} {
      background-color: $color;
    }

    #board-container #board .square.id-#{$i} {
      &.alive {
        background-color: $color;
      }
    }
  }
}

#messages {
  min-height: 2.5rem;
  word-break: break-word;
}

.align-center {
  text-align: center;
}

.wait {
  text-align: center;
  .logo {
    width: 10rem;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
}

img.keyboard {
  max-width: 20rem;
}

.label {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.alert-text {
  color: red;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  &:disabled {
    color: $gray;
  }
}

img {
  max-width: 100%;
}
